# ==== Python ====
__pycache__/
*.py[codz]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec.bak

# Тесты / покрытие
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Окружения
.env
.venv
env/
venv/
ENV/

# Линтеры / типы
.ruff_cache/
.mypy_cache/
.dmypy.json

# ==== Android (Buildozer / python-for-android) ====
.buildozer/
build-android/
bin/
*.apk
*.aab
*.keystore

# ==== Редакторы / ОС ====
.vscode/
.idea/
.DS_Store
Thumbs.db

# ==== Артефакты запуска ====
*.log
hua4gmon-*.csv
